export https_proxy=http://{{ proxy_server }}:{{ proxy_port }}/
export http_proxy=http://{{ proxy_server }}:{{ proxy_port }}/
export ftp_proxy=ftp://{{ proxy_server }}:{{ proxy_port }}/
export socks_proxy=socks://{{ proxy_server }}:{{ proxy_port }}/
export no_proxy={{ no_proxy }}